In [1]:
print('hello')

hello

In [2]:
a = int(input('enter number for a'))
b = int(input('enter number for b'))
print(f"a+b={a+b}")
print(f"a-b={a-b}")
print(f"a/b={a/b:.4f}")
print(f"a//b={a//b}")
print(f"a*b={a*b}")
print(f"a**b={a**b}")
print(f"a%b={a%b}")

In [3]:
if a<b:
      print('a is less then b')
print('end')

a is less then b
end

In [4]:
if a<b:
    print('a is less then b')
else:
  print('a is greater then b')

a is less then b

In [5]:
if a<b:
    print('a is less then b')
elif a==b:
    print('a is equal to b')
else:
    print('a is greater then b')

a is less then b

In [6]:
if 12%2:
    print('even result is 0')
if 13%2:
    print('odd result is 1')

odd result is 1

In [11]:
s = 'python is great'
t = 'java is great'

In [16]:
print(s[0:5])
print(s[0:6])
print(t[-5:])
print(s[::-1])

pytho
python
great
taerg si nohtyp

In [22]:
st='hello'
# 01234          index
# 12345           length
for i in range(0,5):
    print(st[i],i)      #prints each character of the string
    
for i in range(len(st)-1,-1,-1):             # range(4,-1-1)
    print(st[i],end=' ')

h 0
e 1
l 2
l 3
o 4
o l l e h

In [23]:
v = 'sushil'
print(v.center(20,"*"))

*******sushil*******

In [25]:
g = [7,8,9,4,5,6,1,2,3]
print(sorted(g))                  #funtion
print(g)
print(g.sort())                    #method for list
print(g)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[7, 8, 9, 4, 5, 6, 1, 2, 3]
None
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
a=[1,2]
b=a

In [29]:
print(a)
print(b)

[1, 2]
[1, 2]

In [31]:
b.append(3)

In [32]:
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [1]:
hash("sushil")

7840538994805089440

In [9]:
f = [1,2,3]
print(f[0])
print(f[::-1])
f.append(4)
f.append(5)
f.insert(0,0)
print(f)

1
[3, 2, 1]
[0, 1, 2, 3, 4, 5]

In [9]:
s=[]
for i in range(8):
    s.append(int(input('enter number')))
print(s)

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8]

In [12]:
s.sort()

In [10]:
s.insert(4,7)

In [13]:
s

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8]

In [23]:
for i in range(3):
    s.pop()

IndexError: pop from empty list

In [24]:
s

[]

In [15]:
m=[]
for i in range(1,4):
    for j in range(1,4):
        for v in range(1,4):
            m.append([i,j,v])
        print(m)

[[1, 1, 1], [1, 1, 2], [1, 1, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3]]
[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]

In [24]:
m=[]
for i in range(0,3):
    m.append([])
    for j in range(0,3):
        m[i].append([])
        for k in range(0,3):
            m[i][j].append((i,j,k))

In [25]:
print(m)

[[[(0, 0, 0), (0, 0, 1), (0, 0, 2)], [(0, 1, 0), (0, 1, 1), (0, 1, 2)], [(0, 2, 0), (0, 2, 1), (0, 2, 2)]], [[(1, 0, 0), (1, 0, 1), (1, 0, 2)], [(1, 1, 0), (1, 1, 1), (1, 1, 2)], [(1, 2, 0), (1, 2, 1), (1, 2, 2)]], [[(2, 0, 0), (2, 0, 1), (2, 0, 2)], [(2, 1, 0), (2, 1, 1), (2, 1, 2)], [(2, 2, 0), (2, 2, 1), (2, 2, 2)]]]

In [31]:
m[2][2][2]='python'
m[0][0][0]='the'
m[1][1][1]='great'

In [32]:
m

[[['the', (0, 0, 1), (0, 0, 2)],
  [(0, 1, 0), (0, 1, 1), (0, 1, 2)],
  [(0, 2, 0), (0, 2, 1), (0, 2, 2)]],
 [[(1, 0, 0), (1, 0, 1), (1, 0, 2)],
  [(1, 1, 0), 'great', (1, 1, 2)],
  [(1, 2, 0), (1, 2, 1), (1, 2, 2)]],
 [[(2, 0, 0), (2, 0, 1), (2, 0, 2)],
  [(2, 1, 0), (2, 1, 1), (2, 1, 2)],
  [(2, 2, 0), (2, 2, 1), 'python']]]

<h2>Tuple</h2>
<p>A tuple is a collection of values that can be of any data type, including strings, integers and floats

In [33]:
r=(m)

In [34]:
r

[[['the', (0, 0, 1), (0, 0, 2)],
  [(0, 1, 0), (0, 1, 1), (0, 1, 2)],
  [(0, 2, 0), (0, 2, 1), (0, 2, 2)]],
 [[(1, 0, 0), (1, 0, 1), (1, 0, 2)],
  [(1, 1, 0), 'great', (1, 1, 2)],
  [(1, 2, 0), (1, 2, 1), (1, 2, 2)]],
 [[(2, 0, 0), (2, 0, 1), (2, 0, 2)],
  [(2, 1, 0), (2, 1, 1), (2, 1, 2)],
  [(2, 2, 0), (2, 2, 1), 'python']]]

In [36]:
s = {'dec','mar','may'}

In [40]:
w='hello world'
for i in w:
    if in in s:
        
    s.add(i)

In [41]:
s

{' ', 'd', 'dec', 'e', 'h', 'l', 'mar', 'may', 'o', 'r', 'w'}

In [8]:
s={"hello",20,22.5,"sushil"}
g={"gaikwad" ,3,5,8,"vishal","hello"}
s.union(g)
s.intersection(g)
g.difference(s)
g.intersection_update(s)

In [5]:
s

{20, 22.5, 'hello', 'sushil'}

True

<h2>Dictinary</h2>
<p>python dictionary holds data in from of key and value pair where key is unique and the value can be repeated the data in dictionary is unorderd the key should be hashble tp find or to insert data in dictionary there should by key and value are seperated by : (colon)
.items() method is used for iterating over dictionary with for loop which will retuens list of (key,value) tuples</p>

In [16]:
q={
    'name':'Harsh',
    'age': 25,
    'city':'Bangalore',
    'country':'India',
    'subjects':{
        'maths':{
            'internal':20,
            'external':30
        },
        'science':{
            'internal':40,
            'external':50
        },
        'english':{
            'internal':60,
            'external':70
        }
    }
}

In [25]:
q['subjects']["science"]['internal']=20

In [26]:
q

{'name': 'Harsh',
 'age': 25,
 'city': 'Bangalore',
 'country': 'India',
 'subjects': {'maths': {'internal': 20, 'external': 30},
  'science': {'internal': 20, 'external': 50},
  'english': {'internal': 20, 'external': 70}}}

In [31]:
for subject in q['subjects'].values():
    subject.update({'internal': 25})
    
print(q,end=' ')

{'name': 'Harsh', 'age': 25, 'city': 'Bangalore', 'country': 'India', 'subjects': {'maths': {'internal': 25, 'external': 30}, 'science': {'internal': 25, 'external': 50}, 'english': {'internal': 25, 'external': 70}}}

In [41]:
s = []
for i in range(1,11):
    s.append(i)
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<h2>FUNCTION</h2>
<p>Function to calculate the sum of all elements in a given list.</p>
<p>function is callble code block which needs to define first to call it leter with help of ""def""keyword it impoves code reusablity and redablity

In [1]:
def foo():
    print('hello world')

In [2]:
foo()

hello world

In [3]:
def greet(name):
    print(f'hello {name}')

In [5]:
greet('sushil')

hello sushil

In [21]:
def sum(a,b):     
    
    print(a+b)

In [14]:
s(4,2)

8

In [22]:
c=int(input('enter value for c'))
d=int(input('enter value for d'))
sum(c,d)

16

In [23]:
def print_num(max):
    for i in range(1, max+1):
        print(i)

In [25]:
print_num(10)

1
2
3
4
5
6
7
8
9
10

<h2>Perameter</h2>
<h3> the perameter are written at function defination and its block scope varible inside perenthesis 
the block scope varibale is variable is variable like other but you can't access it out of the function block</h3>


<h4>Arrgument</h4>
<p> the arrguent are written at function call and it  can be a variable inside perenthesis</p>

In [41]:
def table(num):
    
    for i in range(1,11):
         print(f"{num} x {i} = {i*num}")
    print()

In [42]:
table(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [46]:
def check(a,b):
    if a>b:
       return f'{a} is greater'
    else :
       return f'{b} is greater'

In [47]:
check(22,4)

'22 is greater'

<h2> Return</h2>
<p>the return statemnet is used to return a value when a function complete its process it  </p>

In [55]:
def leapyear(year):
    if year % 400 == 0:
        return "is a leap year"
    elif year % 100 != 0 and year % 4 == 0:
        return "is a leap year"
    else:
        return "is not a leap year"

In [57]:
leapyear(2003)

'is not a leap year'

In [70]:
def primenumber(num):
    if num<2:
        return True
    else :
        count=2
        while(count<num):
            if num%count==0:
                return False
            count+=1
        return True

In [71]:
primenumber(9)

False

<h2> Default peremeter</h2>

In [12]:
def greet(name):
    return 'hello ' + name

In [13]:
greet('wolf')

'hello wolf'

In [51]:
def total(*num):
    total = 0
    for i in num:
        total += i
    return total

In [54]:
total(2,3,5)

10

<h2> key-word arrgument</h2>

In [62]:
def intro(id, name, age, salary, loction):
    print(f"""Hello, 
        my name is {name} and 
        I am {age} years old
        I am from {loction} and 
        my salary is {salary} per month 
        my id is {id}""")

In [63]:
intro(1,'sushil',age=21,salary=100001,loction='mahim')

Hello,
        my name is sushil and
        I am 21 years old
        I am from mahim and
        my salary is 100001 per month
        my id is 1

<h2>Variable scope</h2>
<p>variale scope are local : variable defined inside block like class function method or loop are local variables 
global : variable defined outside block are global varibales
no-local: variable defined inside block like function who get accesed by inner function are non local

<h2> Recursive Function</h2>
<p>Recursive functions are a type of function that calls itself during its execution

In [2]:

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [3]:
factorial(3)

6

In [4]:
def times(num):
    def inner(value):
        return value * num
    return inner

In [5]:
double = times(2)

In [6]:
double(4)

8

In [7]:
tripal = times(3)

In [8]:
tripal(5)

15

<h2>Lambda</h2>
<p>lambda is a function that takes arguments, but it has a name. It is used to
create small anonymous functions.</p>

In [9]:
def times(num):
    return lambda value : value*num

In [10]:
double(4)

8